{% extends 'coreapp/base.html' %}
{% block title %} <title>Diseases</title> {% endblock %}
{% block content0 %}
<div class="container" style="padding-top: 100px;">
<table class="display compact cell-border">
    <thead>
        <th style="text-align: center;color: #777; font-weight: bold; width: 3%;">ID</th>
        <th style="text-align: center;color: #777; font-weight: bold; width: 50%;">Disease Name</th>
        <th style="text-align: center;color: #777; font-weight: bold; width: 50%;">ICD-10 Version:2019</th>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
{% endblock %}