{% extends 'coreapp/base.html' %}
{% block title %} <title>Herbs</title> {% endblock %}
{% block content0 %}
<div class="container" style="padding-top: 100px;">
<table class="display compact cell-border">
    <thead>
        <th style="text-align: center;color: #777; font-weight: bold; width: 3%;">ID</th>
		<th style="text-align: center;color: #777; font-weight: bold; width: 15%;">Scientific Name</th>
		<th style="text-align: center;color: #777; font-weight: bold; width: 10%;">Familia</th>
		<th style="text-align: center;color: #777; font-weight: bold; width: 15%;">Vietnamese Name</th>
		<th style="text-align: center;color: #777; font-weight: bold; width: 42%;">Vietnamese Synonyms</th>
		<th style="text-align: center;color: #777; font-weight: bold; width: 15%;">Image</th>
    </thead>
    <tbody>
        {% for item in name %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'detailherb' item.id %}">{{ item.scientific_name }}</a></td>
            <td>{{item.familia}}</td>
            <td>{{ item.vietnamese_name }}</td>
            <td>{{item.vietnamese_synonyms}}</td>
            <td><img src='{{item.image0}}' style='width: 170px; height: 200px; display: inline-block;'></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div id="test" class="thumbnail">
    {{array}}
</div>
{% endblock %}