body {
    background-color: LightSteelBlue;
    font-size: 14px;
}
.head{
    color: white;
    font-size: 16px;
}
.herb_image{
    width: 24.5%;
    height: 275px;
    display: inline-block;
}
#smiles-input{
    width: 50%;
    height: 50%;
}